<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- ===================================================================== -->
    <!-- 以下是appender的定义 -->
    <!-- ===================================================================== -->
    <appender name="dubbo" class="com.alibaba.dubbo.common.utils.DubboAppender">
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%c:%M] - %m%n"/>
        </layout>
        <!-- <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG" />
            <param name="LevelMax" value="DEBUG" />
        </filter> -->
    </appender>
    <appender name="FILE" class="org.apache.log4j.FileAppender">
        <param name="File" value="dubbo.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!-- <param name="ConversionPattern" value="[%t %d{dd/MM/yy hh:mm:ss:sss
                z}] %5p %c{2}: %L %m%n" /> -->
            <param name="ConversionPattern" value="[%t %l %d{dd/MM/yy hh:mm:ss:sss z}] %5p %m %n"/>
        </layout>
    </appender>
    <root>
        <level value="INFO"/>
        <appender-ref ref="dubbo"/>
        <appender-ref ref="FILE"/>
    </root>
</log4j:configuration>